[submodule "wine"]
	path = wine
	url = https://gitlab.winehq.org/wine/wine.git
[submodule "meson"]
	path = meson
	url = https://github.com/mesonbuild/meson.git
[submodule "dxvk"]
	path = dxvk
	url = https://github.com/doitsujin/dxvk.git
[submodule "dxvk-sarek"]
	path = dxvk-sarek
	url = https://github.com/pythonlover02/DXVK-Sarek.git
[submodule "fonts/liberation-fonts"]
	path = fonts/liberation-fonts
	url = https://github.com/liberationfonts/liberation-fonts
[submodule "libxml2"]
	path = libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
[submodule "libxkbcommon"]
	path = libxkbcommon
	url = https://github.com/xkbcommon/libxkbcommon.git
[submodule "wayland-protocols"]
	path = wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "libpcap"]
	path = libpcap
	url = https://github.com/the-tcpdump-group/libpcap.git
[submodule "gstreamer"]
	path = gstreamer
	url = https://github.com/GStreamer/gstreamer.git
[submodule "gst-orc"]
	path = gst-orc
	url = https://github.com/GStreamer/orc.git
[submodule "protonfixes"]
	path = protonfixes
	url = https://github.com/Open-Wine-Components/umu-protonfixes
[submodule "vkd3d-proton"]
	path = vkd3d-proton
	url = https://github.com/HansKristian-Work/vkd3d-proton
[submodule "dxvk-nvapi"]
	path = dxvk-nvapi
	url = https://github.com/jp7677/dxvk-nvapi
[submodule "vulkan-headers"]
	path = vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "spirv-headers"]
	path = spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/FFmpeg/FFmpeg
[submodule "dav1d"]
	path = dav1d
	url = https://github.com/videolan/dav1d.git
[submodule "gst-plugins-rs"]
	path = gst-plugins-rs
	url = https://github.com/sdroege/gst-plugin-rs
[submodule "graphene"]
	path = graphene
	url = https://github.com/ebassi/graphene
[submodule "glslang"]
	path = glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "nghttp2"]
	path = nghttp2
	url = https://github.com/nghttp2/nghttp2.git
[submodule "libsoup"]
	path = libsoup
	url = https://github.com/GNOME/libsoup.git
[submodule "d7vk"]
	path = d7vk
	url = https://github.com/WinterSnowfall/d7vk.git
